/* CSS by Hudson Simpson */
/* Color Palette 
#DDFFEA white for background
#803D3D dark red for text background
#FFDEDE light pink for text or background
#F8C2FF bolder light pink for text or background
#448040 green for text 
*/

/* GLOBAL (base) MOBILE FIRST */
body{
font-family: 'Times New Roman', Times, serif;
background-color: #DDFFEA;
color: #448040;
min-width:500px;
display: grid;
grid-template-columns: 1fr;
}

header {
    font-size: x-large;
    text-align: center;
    padding: 1rem;
    margin: auto;
}
header, nav {
  grid-column: 1/4;
}
header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin-top: 0.5rem;
    color: #448040;
}

header, nav, footer {
    grid-column: 1/-1;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #e2e8f0;
     text-decoration: none;
     list-style: none;
      display: flex;
     flex-wrap: wrap;
     flex: 1 2 400px;
      justify-content: center;
     margin: 0.5rem;
     padding: 0.5rem;
     text-shadow: 1px  2.5px  4px gray;
     letter-spacing: 1.5px;
     width: 100%;
     gap: 8rem;
}

nav a:hover {
    background-color: #F8C2FF;
}

main {
    padding: 1rem;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-height: 20vh;
    font-size: 10px;
    background-color: #F8C2FF;
    border-radius: 20px;
}

img {
    display: block;
    margin-top: 0.5rem;
    max-width: 100%;
}

main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#asu, #photography, #collaborations{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-height: 60vh;
    background-color: #F8C2FF ;
    padding: 1rem;
    margin: 1rem;;
    border-left: 4px dashed #803D3D  ;
}

a {
    display:block;
    background-color:#020617;
    color:#e2e8f0;
    padding:1rem 2rem;
    text-decoration:none;
    text-align:center;
}
a:hover {
    color:#448040;
    background-color:#e2e8f0;
}

footer {
    background-color: #F8C2FF ;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 800px) {
 body {
    justify-content: center;
    gap: 1rem;
 }

nav ul {
 display: flex;
 gap: 1rem;
 justify-content: center;
}
.card-row {
    display: flex;
    gap: 1rem;
}
.card-row section {
    width: 30%;
}
}